.approver-reviewer-container {
  // margin: 15px 0px;

  .header {
    height: 48px;
    background-color: #cbe0f5;
    font-size: 14px;
    color: #151515;
    justify-content: center;
    // padding: 0px 15px;
    margin-top: 15px;
    font-weight: 600;
  }

  .sub-modules-headers {
    height: 48px;
    background-color: #edf6fc;
    font-size: 14px;
    color: #151515;
    justify-content: center;
    // padding: 0px 15px;
    font-weight: 600;
  }

  .each-sub-module {
    height: auto;
    font-size: 14px;
    color: #151515;
    align-items: center;
    border-bottom: 1px solid #d7d8d8;

    .each-dropdown {
      padding: 0 10px !important;
      border-left: 1px solid #F0F2F5;

      .css-1idn90j-MuiGrid-root {
        border-bottom: 1px solid #f0f2f5;

        border-left: 1px solid #f0f2f5;
      }
    }

    .css-mhc70k-MuiGrid-root {
      margin: 0px;
    }

    .css-176f598-MuiInputBase-root-MuiOutlinedInput-root {
      margin: 20px;
    }

    .css-1cqo6r-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
      height: 46px;
      width: 100% !important;
    }

    .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
      border: none;
    }

    .css-1869usk-MuiFormControl-root {
      width: 100% !important;
    }
  }
}
