.search-dropdown-text-field {
  .css-176f598-MuiInputBase-root-MuiOutlinedInput-root {
    height: 45px;
    font-size: 14px;
  }
}
.editReviewStyle {
  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding: 0 !important;
  }
}
