.create-user-main-container {
  margin-bottom: 110px;
  .css-tjg027-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input{
    font-size: 14px !important;
    padding: 7.5px 4px 7.5px 6px !important;
  }
  .create-user-container {
    background-color: #ffffff;
    padding: 20px 30px 20px 30px;
    margin: 30px 0px 0px 0px;
    border-radius: 8px;

    .stepper-container {
      .steppers {
        display: flex;
        margin: auto;
        flex-direction: row;
        width: fit-content;
        margin-top: 10px;

        .disabled-stepper-line {
          width: 200px;
          margin-top: 12px;
          border-top: 2px solid #afaeaf;
        }

        .enabled-stepper-line {
          width: 200px;
          margin-top: 12px;
          border-top: 2px solid #32a64d;
        }

        .stepper-icons {
          width: 25px;
          cursor: pointer;
        }

        .cursor-pointer {
          cursor: pointer;
        }

        .cursor-notallowed {
          cursor: not-allowed;
        }
      }

      .steppers-label-container {
        width: 450px;
        display: flex;
        margin: auto;
        flex-direction: row;
        cursor: pointer;
        .stepper-label {
          font-size: 14px;
          width: 100%;
          text-align: center;
          margin: 8px 0px;
        }
        .enabled {
          color: #151515;
        }
        .disabled {
          color: #afaeaf;
        }
      }
    }

    .underline {
      border-top: none;
      border-left: none;
      border-right: none;
      margin: 18px 0px;
      border-bottom: 2px solid #eceff2;
    }
  }

  .container {
    background-color: #ffffff;
    padding: 20px 30px 30px 30px;
    margin: 30px 0px 0px 0px;
    border-radius: 8px;

    .form-container {
      margin-top: 20px;
      display: flex;

      .css-10gs3tb-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
        .MuiOutlinedInput-notchedOutline {
        border-color: #afaeaf;
        height: 52px;
      }

      .each-field-label {
        font-size: 13px;
      }

      .checkbox-label {
        // svg {
        //   color: #0662b7;
        // }
        .css-gsv0eb-MuiTypography-root {
          font-size: 14px;
        }
      }

      .radio-group-container {
        display: contents;

        .css-j204z7-MuiFormControlLabel-root {
          margin: 15px 5px 0px 5px;
        }
      }

      .css-qd4whe-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
        color: #0c4ca8;
      }

      .css-yf0af4-MuiButtonBase-root-MuiRadio-root.Mui-checked {
        color: #0c4ca8;
      }

      .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
        width: 100%;
      }
      .css-1fczfs4-MuiInputBase-root-MuiOutlinedInput-root {
        height: 48px;
      }

      .css-13uexx6-MuiInputBase-root-MuiOutlinedInput-root {
        height: 47px;
      }

      .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        font-size: 14px;
      }

      .css-1869usk-MuiFormControl-root {
        width: 100%;
        margin: 10px 0px;
      }
    }

    .each-info {
      margin: 20px 0px;
      .info-label {
        color: #afaeaf;
        font-size: 12px;
        font-weight: 500;
        margin: 0px 0px 6px 0px;
      }
      .info-value {
        color: #151515;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
  .css-tjg027-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding: 5px !important;
  }
}
