.details-card-container {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 30px 0px 0px 0px;

  .details-card-inner-container {
    padding: 20px 30px;
    .each-info {
      margin-bottom: 10px;

      .info-label {
        color: #656769;
        font-size: 12px;
        font-weight: 500;
      }

      .info-value {
        color: #151515;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .details-card {
      margin-top: 0px;
    }
  }

  .no-data-container {
    padding: 20px 30px;
    width: 97%;
    text-align: center;
  }
}
