.header-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 3px;

  .main-header {
    display: flex;
    flex-direction: row;
    color: #151515;
    align-items: center;
    .screen-header-title {
      @media screen and(min-width: 320px) and(max-width: 768px) {
        font-size: 12px;
      }
    }

    .go-back-icon {
      color: #0078ef;
      cursor: pointer;
      margin: 0px 8px 0px 0px;
    }

    .css-k3ixfc-MuiTypography-root {
      margin: 0px;
      color: #9facb8;
      padding-top: 8px;
    }
  }
}
