.css-19imdaq-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded{
   min-height: 40px !important;
}
// .css-1gjanh3-MuiSvgIcon-root{
//    width: 3rem !important;
// }

.expand-icon { 
    color: '#0662B7',;
    pointer-events: 'auto';
 }

 .grid-style {
    justify-content: 'space-between';
    align-items: 'center';
  }