.upload-card-container {
  margin-top: 10px;
  margin-bottom: 100px;
  background-color: white;
  .btnHoverChange {
    background-color: #82b1db !important;
    :hover {
      background-color: #82b1db !important;
    }
  }
  .btnChange {
    background-color: #0662b7 !important;
  }
  .upload-card-head {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .upload-card-subhead {
    font-size: 0.9rem;
    margin: 1% 0;
    font-weight: 500;
  }
  .progress-container {
    width: 100%;
    margin: 0.8rem 0;
    .upload-card-progress {
      background-color: #e6e7e7;
      border-radius: 10px;
      height: 8px;
    }
  }
  .upload-card-progress-text {
    min-width: 35;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
