.newpassword-container {
  height: 100vh;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .newlogin-error {
    display: flex;
    margin-top: 0.3125rem;
    gap: 0.5rem;
    .newlogin-error-img {
      width: 0.9375rem;
      height: 0.9375rem;
    }
    .newlogin-error-msg {
      font-size: 0.625rem;
      color: #992d26;
    }
  }
  .newpassword-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1.875rem;
    justify-content: center;
    margin-left:16px;
    margin-top:60px;
    .logo-text {
      color: #004c8f;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 1.05rem;
      letter-spacing: 0.1875rem;
    }
    .password-header {
      display: flex;
      margin: 0.7rem 0;
      // padding-top: 0.625rem;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .head-left {
        font-size: 1.25rem;
        font-weight: 500;
        // line-height: 1.375rem;
        // letter-spacing: 0.0015em;
        color: #151515;
      }
      .head-right {
        text-transform: capitalize;
        color: #0662b7;
      }
    }
    .text-field {
      .text-new-password-container {
        // margin: 1.875rem 0;
        .text-new-password {
          margin-bottom: 0.4rem;
          font-family: 'Ilisarniq',sans-serif;
          color: #151515;
          font-size: 0.75rem;
          font-weight: 500;
          letter-spacing: 0.4%;
          line-height: 0.875rem;
        }
        .input-new-password {
          width: 21.25rem;
          :focus-within {
            border: green 1px solid;
          }
        }
      }
      .text-confirm-password-container {
        margin: 1.3rem 0;
        .text-confirm-password {
          font-family: 'Ilisarniq',sans-serif;
          color: #151515;
          font-size: 0.75rem;
          font-weight: 500;
          letter-spacing: 0.4%;
          line-height: 0.875rem;
          margin-bottom: 0.35rem;
        }
        .input-confirm-password {
          width: 21.25rem;
        }
      }
    }
    .footer-error{
      margin-top: 0;
    }
    .footer {
      margin-top: 18%;
      .footer-button {
        text-transform: capitalize;
        color: white;
        width: 21.25rem;
      }

      .footer-info {
        display: flex;
        gap: 1rem;
        margin-top: 0.5rem;
        align-items: center;
        // width: 75%;
        .footer-info-message {
          font-size: 0.625rem;
          font-weight: 400;
          color: #898989;
        }
      }
    }
  }
  .footer-img {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
}
