.upload-card-container {
  background-color: white;
  padding: 5vh 3vw;
  margin-bottom: 30%;
  .upload-card-head {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .upload-card-subhead {
    margin: 1% 0;
    font-weight: 500;
  }
  .progress-container {
    width: 100%;
    margin: 0.8rem 0;
    .upload-card-progress {
      background-color: #e6e7e7;
      border-radius: 10px;
      height: 8px;
    }
  }
  .upload-card-progress-text {
    min-width: 35;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
