.profileContainer {
  .headerContainer {
    padding: 30px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    .headerContent {
      margin-left: 20px !important;
      .userName {
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 20px !important;
      }
      .userRole {
        padding-top: 8px;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 16px !important;
      }
    }
  }
  .section-details {
    background-color: #ffffff;
    margin-top: 30px;
    .section-header {
      font-weight: 500;
      font-size: 16px;
      margin: 0 20px;
      color: #151515;
      padding: 20px 0px;
      border-bottom: 2px solid #f0f2f5;
    }
    .details-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 0px 20px;
      .detail-item {
        width: 16.6%;
        text-align: left;
        margin: 0px;
        display: flex;
        flex-direction: column;
        padding: 15px 0px;
        align-items: flex-start;
        .item-label {
          color: #656769;
          font-size: 12px;
          font-weight: 500;
        }
        .item-value {
          color: #151515;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}

.profile-accountHeader {
  padding: 30px 25px;
  .profile-header {
    padding-bottom: 25px;
    border-bottom: 2px solid #f0f2f5;
    font-weight: 500;
  }
  .profile-password {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.004em;
    color: #afaeaf;
    padding: 20px 0 8px 0;
  }
  .ProfilepasswordStyle {
    display: flex !important;
    flex-direction: row !important;
    .passwordDetailsStyle {
      display: flex !important;
      flex-direction: row !important;
      align-items: center !important;
      border-right: 1px solid #e6e7e7;
      padding-right: 20px;
    }
    .profile-changePassword {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.0125em;
      text-decoration-line: underline;
      color: #0662b7;
      text-transform: capitalize;
      margin: 0 20px;
    }
  }
}
