.lms-dashboard-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  .filter-header {
    display: flex;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    justify-content: space-between;
    align-items: flex-start;
    .filter-data {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .reset-data {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .horizontal-cards {
    margin-left: 20px;
    margin-right: 10px;
    .progress-icon-box {
      width: 3vw;
      height: 5.5vh;
      background-color: #3d8597;
      justify-content: center;
      border-radius: 8px;
      margin-right: 15px;
      margin-left: 20px;
      align-items: center;
      display: flex;
    }
    .approval-icon-box {
      width: 3vw;
      height: 5.5vh;
      background-color: #1c592a;
      justify-content: center;
      border-radius: 8px;
      margin-right: 15px;
      margin-left: 20px;
      align-items: center;
      display: flex;
    }
    .rejected-icon-box {
      width: 3vw;
      height: 5.5vh;
      background-color: #992d26;
      justify-content: center;
      border-radius: 8px;
      margin-right: 15px;
      margin-left: 20px;
      align-items: center;
      display: flex;
    }
    .dropped-icon-box {
      width: 3vw;
      height: 5.5vh;
      background-color: #957f3e;
      justify-content: center;
      border-radius: 8px;
      margin-right: 15px;
      margin-left: 20px;
      align-items: center;
      display: flex;
    }
  }
  .heading-text {
    align-items: flex-start;
    padding: 20px;
    justify-content: flex-start;
    display: flex;
    margin-left: 0px;
  }
  .horizontal-cards2 {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 32px;
    .progress-icon-box {
      width: 3vw;
      height: 5.5vh;
      background-color: #138799;
      justify-content: center;
      border-radius: 8px;
      margin-right: 15px;
      margin-left: 20px;
      align-items: center;
      display: flex;
    }
    .approval-icon-box {
      width: 3vw;
      height: 5.5vh;
      background-color: #2e562e;
      justify-content: center;
      border-radius: 8px;
      margin-right: 15px;
      margin-left: 20px;
      align-items: center;
      display: flex;
    }
    .rejected-icon-box {
      width: 3vw;
      height: 5.5vh;
      background-color: #8d3529;
      justify-content: center;
      border-radius: 8px;
      margin-right: 15px;
      margin-left: 20px;
      align-items: center;
      display: flex;
    }
    .dropped-icon-box {
      width: 3vw;
      height: 5.5vh;
      background-color: #997f31;
      justify-content: center;
      border-radius: 8px;
      margin-right: 15px;
      margin-left: 20px;
      align-items: center;
      display: flex;
    }
  }
  .divider-line {
    // border: 1px solid #f0f2f5;
    background-color: #f0f2f5;
    height: 2px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .report-cards {
    display: flex;
    // height: 70vh;
    margin-top: 24px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 24px;
    .progress-card {
      width: 50%;
    }
    .graph-card {
      width: 50%;
      height:610px;
      .graph-div {
        border: 1px solid #f0f2f5;
        border-radius: 10px;
        // margin-top: 30px;
        margin-right: 12px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: 100%;
        .line-div {
          border-bottom: 1px dotted #d2d2d3;
          margin-top: 15px;
          width: 100%;
        }
        .donut-chart-div {
          margin-top: 27px;
          width: 100%;
        }
        .overview-text {
          font-size: 14px;
          color: #4d4e50;
          .each-icon {
            border: none;
            :hover {
              // padding: 0px 5px;
              cursor: pointer;
              background-color: #f3f3f5;
              padding-top: 10px;
              // margin-top: 2px;
              // border-radius: 50%;
            }
            
          }
        }
        .overview-text2 {
          font-size: 14px;
          color: black;
        }
        .filter-graph-box {
          margin-top: 26px;
          display: flex;
          justify-content: space-between;
          width: 100%;
          .third-header {
            display: flex;
            flex-direction: row;
            // margin-bottom: 14px;
          }
          .line2-div {
            border: 0.5px solid #8a8b8c;
            height: 3vh;
          }
          .graph-filter-box {
            color: black;
            font-size: 12px;
            background-color: #d8d9db;
            display: flex;
            align-items: center;
            border-radius: 3px;
            .hour-box {
              color: black;
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-left: 10px;
              padding-right: 10px;
            }
            .selectedBox {
              font-size: 12px;
              background-color: #0662b7;
              height: 5vh;
              display: flex;
              align-items: center;
              padding-left: 10px;
              padding-right: 10px;
              border-radius: 3px;
            }
            .overview-text3 {
              font-size: 12px;
              color: black;
              font-weight: 500;
              cursor: pointer;
            }
            .selected-overview-text3 {
              font-size: 12px;
              color: white;
              font-weight: 500;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.diff-area {
  margin-top: 32px;
}
.lmsDashboardOrgDetails {
  background-color: #ffffff;
  .retargetingOrgDetailsHeaderTable {
    padding: 15px 0;
    display: flex !important;
    justify-content: space-between !important;
    flex-direction: row !important;
    align-items: center !important;
    border-bottom: 2px solid #eceff2;
  }
}

.apexcharts-canvas {
  svg {
    height: 100%;
    .apexcharts-legend {
      margin-top: 100px;
    }
  }
}
