.container {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #eceff2;
  height: 100%;
}
.cardHeader {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 30px 20px 30px;
}
.body1 {
  background-color: white;
  margin-top: 25px;
  padding: 0 30px;
  .container1 {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 20px 0 20px 0;
  }
  .img1 {
    align-items: center;
    // margin-bottom:14px;
  }
  .bodyBox {
    min-width: 500;
    margin-top: 16px;
    display: flex;
    gap: 3%;
    justify-content: space-between;
    background-color: white;
  }
  .boxBtn {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 24px 0;
    background-color: white;
  }
}
// .body1 {
//   background-color: white;
//   margin-top: 25px;
//   padding: 0 30px;
//   .container1 {
//     display: flex;
//     gap: 10px;
//     background-color: white;
//     padding: 20px 0;
//   }
//   .img1 {
//     align-items: center;
//     // margin-bottom: 14px;
//   }
//   .bodyBox {
//     min-width: 500;
//     margin-top: 16px;
//     display: flex;
//     gap: 3%;
//     justify-content: space-between;
//     background-color: white;
//   }
// }
.formctrl {
  width: 200px;
  .select {
    height: 40px;
    text-align: left;
  }
}

.css-ops09h-MuiTableCell-root.MuiTableCell-paddingCheckbox {
  padding: 0 0 0 0;
}

.btnIcon {
  width: 34px;
  height: 34px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  // background-color: #F3F3F3;
}
.btnIcon:hover {
  background-color: #f3f3f3;
  border-radius: 50%;
}

.body2 {
  padding: 0 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
    // padding: 3px 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    // color: #afaeaf;
    .icon {
      padding: 0;
      margin-right: 8px;
      color: white;
    }
  }
  .css-itrzb3-MuiButtonBase-root-MuiToggleButton-root {
    padding: 0px;
  }

  .searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 5px 0;
    .searchIcon {
      margin-right: 15px;
      color: grey;
    }
  }
}
.tableBox {
  height: 400;
  background-color: white;
  padding: 0 32px;
  .tableHead {
    font-size: 14px;
    font-weight: 500;
    background-color: #eef7ff;
    .tableCell {
      font-weight: 800;
    }
  }
  .menu {
    padding: 10px 20px;
    text-align: left;
  }
}

.MuiTableRow-root {
  padding: 0;
}
.css-1dm0vps-MuiButtonBase-root-MuiButton-root {
  min-width: 0px !important;
}
