.upper-head-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 32px;

  .viewpage-detail {
    padding: 0px 32px 24px 32px;
  }

  .underline {
    border: 1px solid #f0f2f5;
    width: 100%;
    margin: 0px 0px 24px 0px;
  }

  .info-label {
    color: #afaeaf;
    font-size: 12px;
    font-weight: 500;
    margin: 0px 0px 6px 0px;
  }
  .info-value {
    color: #151515;
    font-size: 14px;
    font-weight: 500;
  }
}

.css-gsv0eb-MuiTypography-root {
  font-weight: 500;
  // font-size: 1.1vw !important;
}

.create-header-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 24px 32px 20px 32px;
  font-weight: 500;
}

.divide {
  height: 32px;
  background-color: #eceff2;
  margin-top: 30px;
}

.second-header-container {
  background-color: white;
  justify-content: space-between;
  padding: 24px 32px 24px 32px;
  margin-top: 32px;
  // .MuiSvgIcon-root {
  //   fill: #d2d2d3 !important;
  // }

  .divider-style {
    margin-top: 26px;
    margin-bottom: 30px;
  }

  .checkbox-divider-style {
    margin-top: 26px;
    height: 2px;
    border-color: #f0f2f5;
  }

  .textfield-text-style {
    font-size: 12px;
    font-weight: 500;
    display: 'flex';
    justify-content: 'flex-start';
    color: '#151515';
    margin-bottom: 2px;
  }
}
