.graph-div{
  .css-yqyfud-MuiInputBase-root-MuiFilledInput-root{
    border-radius: 5px;
  }
  .css-yqyfud-MuiInputBase-root-MuiFilledInput-root:before{
    border-bottom: none;
    
  }
  .css-yqyfud-MuiInputBase-root-MuiFilledInput-root:after{
    border-bottom: none;
  }

.btnIcon {
    padding: 5px 5px;
    border: none;
    :hover {
      background-color: #f3f3f5;
      border-radius: 50%;
    }
    
  }
}